<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer" style="text-align: center">
                    <small style="margin-top: 10px">&copy; Copyright 2018, Welcome to Blog Project...</small>
                </div>
            </div>
        </div>
    </div>
</footer>