<footer style="background: #f9f9f8; height: 50px; border: 1px solid #ddd; margin-top: 20px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer" style="text-align: center;">
                    <p style="margin-top: 15px">&copy; Copyright 2018, Welcome to Blog Project...</p>
                </div>
            </div>
        </div>
    </div>
</footer>