<!DOCTYPE html>
<html>
<head>
    <title>Create Article</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css"/>

</head>
<body>
<div class="page">
    <header>
        <nav class="navbar navbar-default" style="border-radius: 0px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">Blog Project</a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/signout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container" style="width: 80%">
            <div class="row">
                <div class="col-md-12">
                    <article>
                        <h1 style="font-weight: bold; margin: 0">Create new article</h1>
                        <hr/>
                        <div class="create-article">
                            <form name="article-form" action="" method="post">
                                    <div class="form-group">
                                        <input type="hidden" id="url-image" name="url-image" value="/uploads/default.jpg" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Title</label>
                                        <input type="text" class="form-control" id="title" name="title"
                                               placeholder="Input new article title">
                                    </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="control-label">Content</label>
                                        <textarea style="height:200px" name="content" id="content"></textarea>
                                    </div>
                                    <% if (errors !== ""){ %>
                                    <% errors.forEach(function (error) { %>
                                    <div style="color: red"><%= error.msg %></div>
                                    <% }); %>
                                    <% } %>
                                    <br/>
                                    <button type="submit" class="btn btn-primary">Create</button>
                                    <button type="reset" class="btn btn-default">Clear</button>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label" for="image-article">Image</label>
                                    <img class="article-image img-responsive hoverZoomLink"
                                         id="img-preview"
                                         style="max-width: 200px; max-height: 200px; border: slategray solid 1px"
                                         data-src="holder.js/100x100"
                                         data-holder-rendered="true"
                                         src="/uploads/default.jpg"
                                    >
                                    <input type="hidden" value="/uploads/default.jpg" id="undo-image">
                                    <br>
                                    <div id="notice-error" style="position: relative; overflow: hidden; display: inline-block;">
                                        <button class="btn">Choose a image</button>
                                        <input type="file" name="file" id="img-upload"
                                               style=" font-size: 100px; position: absolute; left: 0; top: 0; opacity: 0;"/>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </article>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>tinymce.init({selector: 'textarea'})</script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('form[name="article-form"]').validate({
            rules: {
                title: {
                    required: true,
                    minlength: 10,
                    maxlength: 100
                },
                content: {
                    required: true,
                    minlength: 100
                },
                file: {
                    accept: "png|jpe?g|gif"
                }
            },
            messages: {
                title: {
                    required: 'Please enter Title',
                    minlength: 'Your Title must be between 10 to 100 character.',
                    maxlength: 'Your Title must be between 10 to 100 character.'
                },
                content: {
                    required: 'Please enter Content',
                    minlength: 'Your Content must be at least 100 characters long.'
                },
                file: "Your file is not an image"
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });

//Show selected image
    //Show selected image
    $(document).ready(function () {
        let undoimage = $('#undo-image').val();
        $('#img-upload').change(function () {
            undoimage = $('#img-preview').attr('src');
        })
        function readURL(input) {
            let mimetipeImage = /(image\/)gif|(image\/)jpg|(image\/)jpeg|(image\/)png/;
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                if(mimetipeImage.test(input.files[0].type)){
                    if(input.files[0].size > 5*1024*1024){
                        $('#img-preview').attr('src',undoimage);
                        alert('Size of file not exceed 5mb');
                    }
                    else
                    {
                        reader.onload = function (e) {
                            $('#img-preview').attr('src', e.target.result);
                        }
                        reader.readAsDataURL(input.files[0]);
                    }
                }
                else{
                    $('#img-preview').attr('src', undoimage);
                }

            }
        }

        $("#img-upload").change(function () {
            readURL(this);
        });

    });
    //
    $(document).ready(function () {
        $('#notice-error').change(function () {
            $('#err-exceed').show();
        })
    })
//Upload image
    $(document).ready(() => {
        $('#img-upload').change((e) => {
            let formData = new FormData();
            formData.append('file', e.target.files[0]);
            console.log(e.target.files[0].name);
            $.ajax({
                url: '/articles/upload',
                type: 'post',
                data: formData,
                processData: false,
                contentType: false,
                success: (result) => {
                    console.log(result);
                    if (result.status == 'Success') {
                        $('#url-image').val(result.link);
                    }
                }
            })
        });
    });
</script>
</body>
</html>
