<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css"/>
</head>
<body>
<div class="page">
    <header>
        <nav class="navbar navbar-default" style="border-radius: 0px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">Blog Project</a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <% if (role === 'member') { %>
                            <li>
                                <a href="/articles"><i class="fa fa-list" aria-hidden="true"></i> Articles</a>
                            </li>
                            <% } %>
                            <% if (role === 'moderator') { %>
                            <li>
                                <a href="/articles/list"><i class="fa fa-list-alt" aria-hidden="true"></i> Articles Management</a>
                            </li>
                            <li>
                                <a href="/articles"><i class="fa fa-list" aria-hidden="true"></i> Articles</a>
                            </li>
                            <% } %>
                            <% if (role === 'admin') { %>
                            <li>
                                <a href="/admin/credentials"><i class="fa fa-users" aria-hidden="true"></i> Users List</a>
                            </li>
                            <% } %>
                            <li>
                                <a href="/profile/<%= username %>"><span class="glyphicon glyphicon-user"></span> <%= username %></a>
                            </li>
                            <li>
                                <a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="main-page">
        <div class="container">
            <div class="row">
                <div class="panel panel-default" style="width: 40%; margin: 0 auto; border-radius: 0;">
                    <div class="panel-body">
                        <div class="col-md-12 col-xs-12 col-sm-6 col-lg-12">
                            <div>
                                <h2 style="font-weight: bold; margin: 0">Change Password</h2>
                            </div>
                            <hr>
                            <% if (error !== "") {%>
                            <div class="alert alert-warning" style="margin-bottom: 0px; border-radius: 0px; padding: 20px">
                                <strong><%= error %> </strong>
                            </div>
                            <% }%>
                            <form name="change-password-form" action="/profile/change-password/<%= user_id %>" method="post">
                                <div class="form-group">
                                    <label class="control-label">Old Password *</label>
                                    <div class="col-sm-12 input-group">
                                        <input type="password" class="form-control" id="oldPass" name="oldPass" style="border-radius: 4px"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">New Password *</label>
                                    <div class="col-sm-12 input-group">
                                        <input type="password" class="form-control" id="newPass" name="newPass" style="border-radius: 4px"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Confirm new password *</label>
                                    <div class="col-sm-12 input-group">
                                        <input type="password" class="form-control" id="newPass2" name="newPass2" style="border-radius: 4px"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('form[name="change-password-form"]').validate({
            rules: {
                oldPass: {
                    required: true,
                },
                newPass: {
                    required: true,
                    minlength: 8,
                    maxlength: 16
                },
                newPass2: {
                    required: true,
                    equalTo: '#newPass'
                }
            },
            messages: {
                newPass: {
                    required: 'Please enter new password',
                    minlength: 'Your Password must be between 8 to 16 character',
                    maxlength: 'Your Password must be between 8 to 16 character'
                },
                newPass2: 'Password is not match'
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>
</body>
</html>