<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css"/>
</head>
<body>
<div class="page">
    <header>
        <nav class="navbar navbar-default" style="border-radius: 0px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">Blog Project</a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/signup"><span class="glyphicon glyphicon-user"></span> Create Account</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="main-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="width: 40%; margin: 0 auto; border-radius: 0;">
                        <div class="panel-heading" style="background: #f8f8f8; padding: 20px">
                            <h3 class="panel-title" style="font-weight: bold">
                                <i class="fa fa-lock fa-lg" aria-hidden="true"></i> You need Login.
                            </h3>
                        </div>
                        <% if(message != "" && message != "Signup successfully"){ %>
                        <div class="alert alert-warning" style="margin-bottom: 0px; border-radius: 0px; padding: 20px">
                            <strong>Warning! </strong><%= message %>.
                        </div>
                        <% } %>
                        <% if(message === "Signup successfully"){ %>
                        <div class="alert alert-success" style="margin-bottom: 0px; border-radius: 0px; padding: 20px">
                            <strong>Success! </strong><%= message %>.
                        </div>
                        <% } %>
                        <div class="panel-body" style="padding: 20px">
                            <form accept-charset="UTF-8" role="form" action="/signin" method="post" id="login-form">
                                <fieldset>
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input class="form-control" placeholder="Username" name="username" type="text" id="username"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input class="form-control" placeholder="Password" name="password" type="password" id="password"/>
                                    </div>
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-key" aria-hidden="true"></i> Login</button>
                                </fieldset>
                            </form>
                            <br/>
                            <a href="/signup"><i>Create account.</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script>
    $("#login-form").validate({
        rules: {
            username: {
                required: true,
                minlength: 6
            },
            password: {
                required: true,
                minlength: 6,
                maxlength: 16
            }
        },
        messages: {
            username: {
                required: 'Please enter username',
                minlength: 'Username must be at least 6 characters long'
            },
            password: {
                required: 'Please enter password',
                minlength: 'Password must be at least 6 characters long',
                maxlength: 'Maximum 16 characters long'
            }
        },
        submitHandler: function (form) {
            form.submit();
        }

    });
</script>
</body>
</html>