<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header">
    <%include partials/navGuest.ejs%>
</div>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <h1>Profile</h1>
                <div class="">
                    <% profile.forEach(function (user) { %>
                        <ul>
                            <li><%= user.username %></li>
                            <li><%= user.email %></li>
                            <li><%= user.phone %></li>
                            <li><%= user.address %></li>
                        </ul>
                    <% }) %>
                </div>
                <a href="update-profile.ejs" class="btn btn-primary">Edit Profile</a>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <%include partials/footer%>
</div>

</body>
</html>