<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header">
    <%include partials/navGuest.ejs%>
</div>

<div class="content">
    <form class="form-horizontal" action="/signup" method="post">
    <fieldset>

    <!-- Form Name -->
    <legend>Signup new Acount</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="fname">Full Name</label>
      <div class="col-md-5">
      <input id="fname" name="fullname" type="text" placeholder="Enter your Full Name" class="form-control input-md" required="">

      </div>
    </div>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="lname">User Name</label>
      <div class="col-md-5">
      <input id="lname" name="username" type="text" placeholder="Enter your user Name"  class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="email">Email</label>
      <div class="col-md-5">
      <input id="email" name="email" type="text" placeholder="Email" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="addr1">Phone number</label>
      <div class="col-md-5">
      <input id="addr1" name="phoneNumber" type="text" placeholder="enter your phone" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="city">Set Password</label>
      <div class="col-md-4">
      <input id="city" name="password" type="password" placeholder=" enter your password" class="form-control input-md" required="">

      </div>
    </div>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="city">Confirm password</label>
      <div class="col-md-4">
      <input id="city" name="passwordConfirm" type="password" placeholder="confirm password" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="notes">Address</label>
      <div class="col-md-4">
        <textarea class="form-control" id="notes" name="address"></textarea>
      </div>
    </div>


    <div class="form-group">
    <label class="col-md-4 control-label" for="submit"></label>
      <div class="col-md-4">
        <label class="checkbox-inline" for="submit">
          <input class="btn btn-info" type="submit" name="submit" id="submit" value="Sign Up">
        </label>
      </div>
    </div>

    </fieldset>
    </form>
            <%if(message === 'signup successfuly'){%>
            <div class="alert alert-success">
              <strong>Success!</strong> signup successfuly
            </div>
            <%}%>

            <%if(message === 'this acount existed'){%>
            <div class="alert alert-warning">
              <strong>Warning</strong> this acount existed
            </div>
            <%}%>
</div>
<div class="footer">
    <%include partials/footer%>
</div>

</body>
</html>